@charset "UTF-8";
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --color-primario: #181818;
  --color-secundario: #f0f0f0;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #f0f0f0;
    --color-secundario: #181818;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white;
  }
}
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

.newsletter {
  background-color: #0C0910;
  height: 152px;
  width: 85%;
  display: flex;
}
@media (min-width: 1200px) {
  .newsletter {
    flex-direction: column;
    width: 45%;
    height: 200px;
    margin-top: 75px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 820px) {
  .newsletter {
    height: 210px;
  }
}
.newsletter__text {
  color: #ECECEC;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 12px;
  padding: 7px 30px;
}
.newsletter__title {
  color: #D1D1D1;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 30px 30px 0 30px;
}

#email {
  background-color: #FFF;
  margin-left: 30px;
  padding: 7px 120px 7px 10px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.sub-footer {
  width: 10%;
}
.sub-footer__tex {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  color: #0C0910;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(0deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  padding: 30px 0 0 15px;
  margin: 5px 0 0 15px;
}
@media (min-width: 1200px) {
  .sub-footer__tex {
    padding: 0 0 80px 695px;
    font-size: 30px;
    margin-top: -75px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 820px) {
  .sub-footer__tex {
    font-size: 30px;
    position: relative;
    left: 410px;
    top: 10px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.nav__brand {
  position: absolute;
  background-color: #0C0910;
  width: 75px;
  text-align: center;
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 1200px) {
  .nav__brand {
    width: 100px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 820px) {
  .nav__brand {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    width: 75px;
    height: 70px;
  }
}
.nav__menu {
  margin: 0 30px 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 700;
  color: #0C0910;
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 80;
  float: right;
}
@media (min-width: 820px) {
  .nav__menu {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .nav__menu--items {
    display: block;
    border-bottom: 1px solid #646266;
    margin: 0;
    background: rgba(34, 34, 34, 0.75);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #ECECEC;
    width: 80%;
    margin-left: 50px;
  }
}
@media (min-width: 820px) {
  .nav__menu--items {
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    display: block;
  }
}
.nav__toggle {
  display: block;
  cursor: pointer;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
}
@media (min-width: 820px) {
  .nav__toggle {
    display: none;
  }
}

#toggle {
  display: none;
}

@media only screen and (max-width: 992px) {
  #toggle:checked + .nav__menu {
    display: block;
  }
}
.container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    display: flex;
    width: 50%;
    height: 100%;
    float: right;
  }
}
@media only screen and (min-width: 769px) and (max-width: 820px) {
  .container {
    height: 600px;
  }
}

.content {
  padding: 30px;
}
@media (min-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
    padding: 70px 0 50px 70px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 820px) {
  .content {
    margin-bottom: 60px;
  }
}
.content__button {
  border: solid 1px #0C0910;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .content__button {
    width: 110px;
    height: 100%;
    font-size: 12px;
  }
}
.content__paragraph {
  font-family: "Raleway", sans-serif;
  color: #646266;
  font-weight: 700;
  padding: 20px 0;
}
@media (min-width: 1200px) {
  .content__paragraph {
    width: 30%;
    height: 100%;
    float: left;
    padding: 40px 0 30px 0;
  }
}
.content__subtitle {
  font-family: "Old Standard TT", serif;
  color: #0C0910;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 1200px) {
  .content__subtitle {
    color: #0C0910;
    font-weight: 700;
    font-size: 50px;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
