.newsletter {
  display: flex;
  justify-content: space-between;

  &__container {
    background-color: $smoky-black;
    width: 90%;
    color: $white;
    padding-left: 50px;
  }
  &__container input {
    background-color: $white;
    margin: 20px 0;
    height: 20;
    padding: 5px;
    font-family: $raleway;
  }
  &__text {
    font-family: $old-standard-TT;
    font-weight: $old-standard-TT-bold;
    font-size: $medium;
    padding: 20px 0 0 0;
  }

  &__title {
    font-family: $old-standard-TT;
    font-weight: $old-standard-TT-bold;
    font-size: $xx-large;
    padding: 20px 0 5px 0;
  }
}
.sub-footer {
  margin: auto;
  &__text {
    font-family: $old-standard-TT;
    font-weight: $old-standard-TT-bold;
    font-size: $x-large;
    color: $smoky-black;
    writing-mode: vertical-lr;
    transform: rotate(0deg);
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
