.main {
  display: flex;

  &__content {
    @include screen-l {
      padding-left: 50px;
    }
  }
  &__left {
    width: 100%;
    @include screen-l {
      width: 40%;
    }
  }
  &__paragraph {
    font-family: $raleway;
    font-weight: $raleway-regular;
    font-size: $x-large;
    padding: 30px 30px 5px 30px;

    text-align: left;
    @include screen-l {
      padding: 20px 210px 20px 0;
    }
  }
  &__header {
    background: url(../img/imagen1.png) no-repeat center;
    height: 350px;
    width: 100%;
    background-size: cover;
    @include screen-l {
      display: none;
    }
  }
  &__right {
    display: none;
    background: url(../img/imagen1.png) no-repeat center;
    background-size: cover;
    width: 0%;
    @include screen-l {
      display: block;
      width: 60%;
    }
  }
  &__subtitle {
    font-family: $old-standard-TT;
    font-weight: $old-standard-TT-bold;
    font-size: $xx-large;
    padding: 10px 0 20px 30px;
    @include screen-l {
      font-size: $xxx-large;
      padding: 30px 0 40px 0px;
    }
  }
  &__title {
    font-family: $old-standard-TT;
    font-weight: $old-standard-TT-bold;
    font-size: $xx-large;
    padding: 30px 0 5px 30px;
    @include screen-l {
      font-size: $xxx-large;
      padding: 70px 0 40px 0px;
    }
  }
}
